<div class="container">
  <form (ngSubmit)="addAsset()">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1>{{ title }}</h1>

      <div class="mb-3 mt-4">
        <label for="search" class="form-label">Search Assets</label>
        <input
          type="text"
          class="form-control"
          id="search"
          [(ngModel)]="searchTerm"
          placeholder="Search by asset name"
        />
        <Button class="btn btn-primary" (click)="filteredData()">Search</Button>
      </div>
    </div>

    <!-- Entering new asset-->
    <div class="mb-3">
      <label for="assetName" class="form-label">Asset Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Asset Name"
        id="assetName"
        [(ngModel)]="newAsset.name"
        [ngModelOptions]="{ standalone: true }"
        aria-label="Asset name"
      />
    </div>

    <div class="mb-3">
      <label for="assetValue" class="form-label">Asset Value</label>
      <input
        type="number"
        class="form-control"
        placeholder="Asset Value"
        id="assetValue"
        [(ngModel)]="newAsset.value"
        [ngModelOptions]="{ standalone: true }"
        aria-label="Asset value"
      />
    </div>

    <button type="submit" class="btn btn-primary">Add Asset</button>
  </form>

  <!-- Pie Chart Canvas -->
  <div>
    <canvas id="canvas"></canvas>
  </div>

  <!-- Asset Table to display assets -->
  <table class="table table-hover table-bordered mt-4">
    <thead class="table">
      <tr>
        <th>Asset Name</th>
        <th>Asset Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets; let i = index">
        <td>{{ asset.name }}</td>
        <td>{{ asset.value }}</td>
        <td>
          <button class="btn btn-warning btn-sm" type="button" (click)="updateAsset(i)">Update</button>
          <button class="btn btn-danger btn-sm" type="button" (click)="openDeleteModal(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Delete Confirmation Modal -->
  <div *ngIf="isModalOpen" class="modal-backdrop">
    <div class="modal-container">
      <h4>Are you sure?</h4>
      <p>Do you really want to delete this asset? This action cannot be undone.</p>
      <div class="modal-buttons">
        <button class="btn btn-info" (click)="closeModal()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
